<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Mail\MimeMessage">
        <plugin name="ggg_send_email_attachment_mime_message"
                type="GGGPDM\SendEmailAttachment\Plugin\Magento\Framework\Mail\MimeMessage"/>
    </type>
</config>
